---
layout: default
title: 'Studio'
---

<div class="intro_heading">
  <h2>We build 
    <span class="draw">beautiful {% include circle.html %}</span>
    <span class="asterisk" data-tooltip="At least we think so" aria-hidden="true">*</span><br> websites and products.</h2>
</div>

{% assign projects = site.data.content.work | where: "display", true %}
{% for project in projects %}
  <a class="project-link" href="{{ project.url }}" target="_blank" rel="noopener">
    <div class="section project {{ project.image_back }}" {% if project.background %}style="background-color: #{{ project.background }} !important"{% endif %}>
      <div class="info">
        <p>{{ project.title }}</p>
        <p>{{ project.type }}</p>
      </div>
      <div class="pill">Visit website {% include external-arrow.html %}</div>
      <img height="500px" src="/images/{{ project.image }}" alt="{{ project.description }}">
    </div>
  </a>
{% endfor %}

{% include contact-block.html %}
{% include about-block.html %}

