<div class="wrapper section projects">
  <h2 class="muted">Featured work</h2>
  <div class="projects__list">
    {% assign projects = site.data.content.work | where: "display", true %}
    {% for project in projects %}
      <a class="projects__list__item project-link" href="{{ project.url }}?ref=boandco.studio" target="_blank" rel="noopener" data-aos="fade">
        <div class="project">
          <div class="project__navigate {% if project.award %}has-award{% endif %}">
            {% if project.award %}
              <div class="award">
                <div class="icon">
                  {% include icons/award.html %}
                </div>
                <div class="info">
                  <p class="muted">{{ project.award.title }}, {{ project.award.year }}</p>
                  <p class="muted">{{ project.award.source }}</p>
                </div>
              </div>
            {% endif %}
            <div class="pill white"><span class="visually-hidden">Visit website</span> <i class="far fa-arrow-right {% if project.external %}external{% endif %}"></i></div>
          </div>
          <img src="/images/work/{{ project.image }}" alt="{{ project.description }}">
          <div class="info">
            <p>{{ project.title }}</p>
            <p class="muted">{{ project.type }}</p>
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
</div>