<div class="wrapper section footer">
  <div class="row top" data-aos="fade">
    <div class="logo">
      <a href="/">
        <p class="heading">Bo & Co</p>
        <p class="sub">Studio</p>
      </a>
    </div>
    <p class="description">{{ site.description }}</p>
  </div>
  <div class="row bottom" data-aos="fade">
    <div class="copyright">
      <p class="made">{% include icons/leaf.html %} Locally built in Manotick, ON</p>
      <p>&copy; {{ 'now' | date: "%Y" }} Bo & Co &#8212; All Rights Reserved.</p>
    </div>
    <div class="footer__contact">
      <div class="item">
        <p class="muted">General inquires</p>
        <a href="mailto:work@boandco.studio">work@boandco.studio</a>
      </div>
      <div class="item">
        <p class="muted">Client support</p>
        <a href="mailto:billing@boandco.studio">billing@boandco.studio</a>
      </div>
    </div>
  </div>
</div>