---

---

$color-text: #232323;
$color-black: #0E0E0E;
$color-main: #1145FF;
$color-white: #F8F8F8;
$border-radius: 20px;

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Black.woff') format('woff'), url('/fonts/Satoshi-Black.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Bold.woff') format('woff'), url('/fonts/Satoshi-Bold.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Medium.woff') format('woff'), url('/fonts/Satoshi-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Eiko';
  src: url('/fonts/PPEiko-Medium.woff') format('woff'), url('/fonts/PPEiko-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
}

* {
  box-sizing: border-box;
}
::selection {
  background: $color-main;
  color: $color-white;
}
body {
  background: $color-white;
  color: $color-text;
  font-family: 'Satoshi', Arial, Helvetica, sans-serif;
}

.center {
  margin: auto;
  text-align: center;
}

.wrapper {
  width: 90%;
  max-width: 1000px;
  margin: auto;
}

.section {
  padding: 3em 1em;
  width: 100%;
  margin: 1em auto;
  border-radius: $border-radius;

  &.grey {
    background: #F4F4F4;
    border: 1px solid #E9E9E9;
  }
}

.muted {
  color: lighten($color-text, 30);
}
.large {
  font-size: 1.8em;
  font-weight: 500;

  @media screen and (max-width: 768px) {
    font-size: 1.4em;
  }
}

.logo {
  text-align: center;
  margin-top: 2em;

  a {
    color: inherit;
    text-decoration: none;
    display: flex;
    text-align: center;
    width: fit-content;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: $border-radius;
    padding: 0.4em;
    margin: auto;

    &:active,
    &:focus {
      outline: 3px solid $color-main;
    }
  }

  .heading {
    font-size: 1.4em;
    font-weight: 600;
    margin: 0;
    width: fit-content;
  }
  .sub {
    font-size: 0.4em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin: 0;
    width: fit-content;
  }
}

a.btn,
button.btn {
  padding: 0.7em 2em;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 600;
  display: block;
  width: fit-content;
  box-shadow: 0px 12px 20px -6px rgba(71, 111, 255, 0);
  transition: transform 0.3s cubic-bezier(0.68, -0.6, 0.32, 1.6), box-shadow 0.3s ease-in-out, background 0.3s ease-in-out;

  &.primary {
    background: $color-main;
    color: $color-white;

    &:hover {
      background: lighten($color-main, 5);
    }
    &:focus,
    &:active {
      background: darken($color-main, 20);
      outline: 3px solid darken($color-main, 40);
    }
  }
  &:hover {
    transform: scale(1.1);
    box-shadow: 0px 12px 20px -6px rgba(71, 111, 255, 0.6);
  }
}

p.copyright {
  font-size: 0.8em;
  text-align: center;
  margin: 2em auto 4em;
  color: lighten($color-black, 30);
}

.intro_heading {
  text-align: center;
  position: relative;
  margin: 4em auto;
  max-width: 100%;

  h2 {
    font-size: 4em;
    font-family: 'Eiko', serif;
    font-weight: 500;
  }

  span.draw {
    position: relative;
    z-index: 1;

    svg {
      position: absolute;
      width: 110%;
      bottom: -10px;
      left: -20px;
      z-index: -1;
      stroke-dasharray: 700;
      stroke-dashoffset: 700;
      animation: draw 2s cubic-bezier(0.87, 0, 0.13, 1) forwards;

      @media screen and (max-width: 768px) {
        bottom: -20px;
      }
    }
    @keyframes draw {
      to {
        stroke-dashoffset: 0;
      }
    }
  }

  span.asterisk {
    position: relative;
    line-height: 0;
    width: 0;
    display: inline-block;
    animation: asterisk 1s linear infinite;
    cursor: help;
    z-index: 2;

    &:hover {
      animation-play-state: paused;

      &:after {
        transform: translate(-40%, 0);
        opacity: 1;
        @media screen and (max-width: 768px) {
          transform: translate(-80%, 0);
        }
      }
    }

    &:after {
      content: attr(data-tooltip);
      font-size: 12px;
      display: block;
      width: 110px;
      height: auto;
      font-family: 'Satoshi', Arial, Helvetica, sans-serif;
      font-style: italic;
      position: absolute;
      bottom: -40px;
      left: 0;
      transform: translate(-40%, 5px);
      background: $color-black;
      color: $color-white;
      box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.20);
      padding: 1.4em 1em;
      border-radius: 40px;
      z-index: 2;
      pointer-events: none;
      opacity: 0;
      transition: all 0.3s ease-in-out;

      @media screen and (max-width: 768px) {
        transform: translate(-80%, 5px);
      }
    }
  }
  @keyframes asterisk {
    0% {
      font-family: 'Eiko';
    }
    25% {
      font-family: 'Satoshi';
    }
    50% {
      font-family: 'Times New Roman', Times, serif;
    }
    75% {
      font-family: Arial, Helvetica, sans-serif;
    }
    100% {
      font-family: 'Eiko';
    }
  }

  @media only screen and (max-width: 768px) {
    max-width: 300px;
    margin: 2em auto 3em;
    h2 {
      font-size: 3em;
      margin: 0;
    }
  }
}
.about {

  .location-image {
    position: relative;
    margin: auto;
    height: 100px;
    width: 100px;
    margin-bottom: 1em;
    
    img {
      height: 100%;
      width: 100%;
      border-radius: 100%;
    }

    &__tag {
      position: absolute;
      background: $color-white;
      height: 40px;
      width: 40px;
      border-radius: 100%;
      border: 0.5px solid #DEDEDE;
      box-shadow: 0px 3.33333px 8.33333px -3.33333px rgba(0, 0, 0, 0.11);
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 1.4em;
      bottom: -5px;
      right: -5px;
    }
  }
  p {
    margin: 0;

    &:last-of-type {
      margin: 0.2em 0;
      font-size: 0.9em;
    }
  }
}

a.project-link {
  color: inherit;
  text-decoration: none;
  display: block;
  border-radius: $border-radius;

  &:active,
  &:focus {
    outline: 3px solid $color-main;
  }

  .project {
    padding: 2em;
    position: relative;
    min-height: 500px;
    overflow: hidden;
    box-shadow: 0px 0px 120px -80px rgba(0,0,0,0);
    transition: transform 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6), box-shadow 0.4s ease;
    transform: scale(1);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &.dark {
      color: $color-white;
      background: $color-text;
      p:last-of-type {
        color: darken($color-white, 25);
      }
    }
    &.light {
      color: $color-text;
      background: darken($color-white, 5);
      p:last-of-type {
        color: lighten($color-text, 25);
      }
    }

    .info {
      pointer-events: none;
      p {
        margin: 0;
        &:first-of-type {
          font-weight: 600;
        }
        &:last-of-type {
          font-size: 0.8em;
        }
      }
    }

    @media screen and (max-width: 768px) {
      min-height: 330px;
      padding: 1.4em;
    }
  
    img,
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -2;
      transition: transform 0.4s ease;
      transform: scale(1.1);
    }
  }

  &:hover {
    .project {
      box-shadow: 0px 80px 120px -80px rgba(0,0,0,1);
      transform: scale(1.05);

      img,
      video {
        transform: scale(1);
      }

      .pill {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }
}
.pill {
  font-size: 0.8em;
  display: block;
  height: fit-content;
  width: fit-content;
  background: $color-black;
  color: $color-white;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.20);
  padding: 0.6em 1em;
  border-radius: 40px;
  transition: all 0.4s ease-in-out;
  opacity: 0;
  transform: translateY(15px);

  @media screen and (max-width: 768px) {
    opacity: 1;
    transform: translateY(0);
  }
}