<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body>
    <div class="wrapper">
      <div class="navigation" data-aos="fade">
        <div class="status">
          <div class="indicator"></div>
          <p class="muted">Available <span class="mobile-hide">for hire</span></p>
        </div>
        <div class="logo">
          <a href="/">
            {% if page.title == 'Studio' %}
              <h1 class="heading">Bo & Co</h1>
            {% else %}
              <p class="heading">Bo & Co</p>
            {% endif %}
            <p class="sub">Studio</p>
          </a>
        </div>
        <div class="nav-cta">
          <a class="btn primary" href="mailto:{{ site.email }}"><span class="mobile-hide">Say hello</span> <span class="wave">&#128075;</span></a>
        </div>
      </div>
    </div>
    {{ content }}
    {% include footer.html %}
    {% include scripts.html %}
  </body>
</html>