<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ site.title }} — {{ page.title }}</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
    
    <meta charset="UTF-8">
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="{{ site.keywords }}">
    <meta name="author" content="{{ site.author }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta property="og:title" content="{{ site.title }} — {{ page.title }}">
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:image" content="{{ site.url }}/images/social-share.jpg">
    
    <meta name="twitter:title" content="{{ site.title }} — {{ page.title }}">
    <meta name="twitter:description" content="{{ site.description }}">
    <meta name="twitter:image" content="{{ site.url }}/images/social-share.jpg">
    <meta name="twitter:card" content="summary_large_image">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-BKDG4W9Z50"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-BKDG4W9Z50');
    </script>

    <link rel="preload" href="/fonts/Satoshi-Black.woff" as="font" crossOrigin="anonymous" >
    <link rel="preload" href="/fonts/Satoshi-Black.woff2" as="font" crossOrigin="anonymous" >
    <link rel="preload" href="/fonts/Satoshi-Bold.woff" as="font" crossOrigin="anonymous" >
    <link rel="preload" href="/fonts/Satoshi-Bold.woff2" as="font" crossOrigin="anonymous" >
    <link rel="preload" href="/fonts/Satoshi-Medium.woff" as="font" crossOrigin="anonymous" >
    <link rel="preload" href="/fonts/Satoshi-Medium.woff2" as="font" crossOrigin="anonymous" >
    <link rel="preload" href="/fonts/PPEiko-Medium.woff" as="font" crossOrigin="anonymous" >
    <link rel="preload" href="/fonts/PPEiko-Medium.woff2" as="font" crossOrigin="anonymous" >
  </head>
  <body>
    <div class="wrapper">
      <div class="logo">
        <a href="/">
          {% if page.title == 'Studio' %}
            <h1 class="heading">Bo & Co</h1>
          {% else %}
            <p class="heading">Bo & Co</p>
          {% endif %}
          <p class="sub">Studio</p>
        </a>
      </div>

      {{ content }}

      <p class="copyright">&copy; 2021 Bo & Co.</p>
    </div>
  </body>
</html>